AcuaponicDuino.json
[
    {
        "id": "1df6ab3836eddb6b",
        "type": "tab",
        "label": "AcuaponicDuino",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5c316cc8d115690d",
        "type": "group",
        "z": "1df6ab3836eddb6b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a2ccdaef316ccee1",
            "47fa724a8741e822",
            "b8a31462de3bc3e0",
            "49bd9ea65e8bce9f",
            "7ab30b54840c4763",
            "bf15aeb7bdda19d4",
            "5e8c39c4d9ba83f8",
            "6e333486ebd064a5",
            "3ab6dbc263b78d97",
            "50bf967926fa914e",
            "0f24a4c1f60a23d0",
            "55cbc8816f8983d2",
            "a797524b96bf1f25",
            "2215292d1494e631",
            "77a3ab0278c3ac2c",
            "59e4c3a75bdbb7f3",
            "407f1bf907785e85",
            "09a7c92ef8473e50",
            "0a1066ce6e587465",
            "67af06b8a14ec8e8",
            "0d15d08624735b23",
            "18d480951d9db072",
            "c2e62d61d0247b15",
            "f25b9785982aa7ce",
            "c43b4728bfb817ab",
            "23c2af74855bb688",
            "c4ec84f5b579624a",
            "8b2f7001573b1ff3",
            "1d26ab5bdf251240"
        ],
        "x": 34,
        "y": 1259,
        "w": 1032,
        "h": 642
    },
    {
        "id": "5e7483b35a34fd58",
        "type": "group",
        "z": "1df6ab3836eddb6b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "dac32623abbee6ce",
            "abb635d1bb694f4a",
            "11107f5d4cb849fe",
            "1374c0027e5f910b",
            "68abc56bd77fd875",
            "fb5ff3a5441cefd1",
            "b7c2fb364be1f713",
            "aefee4fe5964e872",
            "9aee486135b2055b",
            "41b483829f4fdc14",
            "53bff137e9cde7ef",
            "20078f70721d0545",
            "9b42f68e30611b69",
            "ae584f335b73bad4",
            "dcb54cef964449aa",
            "8dc091551e8e9632",
            "058d5b68c1400551",
            "938fe02544c3597d",
            "0359e64dbf7cdb04",
            "4f50e72109cf4e6e",
            "8702934db156695a",
            "13bdf52601fb3ea4",
            "65a339bb10627824",
            "c7865c4291b2e2d8",
            "3883fb2875947cda",
            "3b530d76949ed104",
            "d962428a97b850c5",
            "df8c12dd33082dab",
            "f2026e4d73aaeaa0",
            "9264e6d3928ee84c"
        ],
        "x": 754,
        "y": 79,
        "w": 1412,
        "h": 562
    },
    {
        "id": "2cb2893e266fd686",
        "type": "group",
        "z": "1df6ab3836eddb6b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "46f6c71b25df15a9",
            "1867da61541640a9",
            "f3d21dd97fd130d4",
            "01cd2eb788238b0f",
            "94f3f2b77488bc98",
            "46a0364ea069b48e",
            "40a10c2d2b1791d9",
            "16a9e7689baa796a",
            "4c68da0acfd74151",
            "1ce513dd6a967bc3"
        ],
        "x": 54,
        "y": 79,
        "w": 652,
        "h": 302
    },
    {
        "id": "cc510e88d578dfae",
        "type": "group",
        "z": "1df6ab3836eddb6b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d80d4b8df7530adb",
            "6c2af9e983741380",
            "1ec7c8c3c5bf3b81",
            "3e28cc0887233bf3",
            "e80edbdf3c9c6ea7",
            "57e340f951ee217e",
            "ab64e58b700a9af4",
            "c36dd0016efde294",
            "0ce0d132e710cd5a",
            "00fe8648257e93b0",
            "68cb149b4d5d5a68",
            "1a0a691643b13acd",
            "48fe21a6253570e8",
            "c0dc3da8b3ed3e75",
            "e37fac8fdfbbbea3",
            "62aa9154de281d2c",
            "f4f7c9b002dfcb4d",
            "9938eadda7404498",
            "c848a40e0c8ef53f"
        ],
        "x": 34,
        "y": 659,
        "w": 832,
        "h": 502
    },
    {
        "id": "e05ef543203069eb",
        "type": "group",
        "z": "1df6ab3836eddb6b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "563385a468f03ddd",
            "028b1828a73809ac",
            "5448555cdf0c8f9b",
            "5305b17303bd6a1c",
            "5008c775c1185443",
            "29eb564e29a1fa2b",
            "75526cc73009cd66",
            "3989ae2516d8267d",
            "4ccd93cc94edcd6f",
            "f60f140c5d6ffa50",
            "9f5b464ce2a4db5b",
            "e93bf4f2c59bb5c9",
            "1346f8f1d6f4646f",
            "647b250e2e007a90",
            "bd8b46f375cb041f",
            "c0fd8366cce07c1f",
            "dc8cd3d760e43915",
            "0d63f8812b7c356d",
            "de42e0195031feb2"
        ],
        "x": 894,
        "y": 659,
        "w": 672,
        "h": 562
    },
    {
        "id": "fbc401e54ff1da47",
        "type": "group",
        "z": "1df6ab3836eddb6b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "4a26dabdda5fbef4",
            "d2dbc3e652684ac1",
            "60f92c1f84f22bd0",
            "4ba3f1aefa9d59eb",
            "a2013c10a690a1af",
            "08fca99591145b66",
            "3dacea2e747f9386",
            "b33f81a1b54926e8",
            "3e5aecd7a827bf01",
            "10543cc728bfd640",
            "3f5394818047cd2c",
            "df270113ec8d5331",
            "7b8ca2371415b205",
            "970c90476ca04763",
            "8b16ce5138c98bef",
            "33206aa484c56a67"
        ],
        "x": 1594,
        "y": 659,
        "w": 832,
        "h": 442
    },
    {
        "id": "654c4b264228d8cd",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "AcuaponicDuino",
                "default": "#4B7930",
                "baseColor": "#000078",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#000078",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#000078",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#73edff",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#000078",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#000000",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#000078",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "AcuaponicDuino - Panel de Control",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "82b2c8531639be70",
        "type": "ui_group",
        "name": "Control del Sistema",
        "tab": "d7783127800a22b3",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bc73827c7ca9b5fa",
        "type": "ui_spacer",
        "z": "1df6ab3836eddb6b",
        "name": "spacer",
        "group": "81f058ee7705faa2",
        "order": 7,
        "width": "6",
        "height": "1"
    },
    {
        "id": "f0bbce6feef552cc",
        "type": "ui_spacer",
        "z": "1df6ab3836eddb6b",
        "name": "spacer",
        "group": "0b47fee8582f65da",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "82f3e57dca10e579",
        "type": "mqtt-broker",
        "name": "AcuaponicDuino",
        "broker": "192.168.1.103",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "14fd4d66ec7154e7",
        "type": "ui_group",
        "name": "Parametros Ambientales",
        "tab": "03c21791da2be028",
        "order": 1,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0b47fee8582f65da",
        "type": "ui_group",
        "name": "Fujo ",
        "tab": "03c21791da2be028",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "81f058ee7705faa2",
        "type": "ui_group",
        "name": "Parametros del Agua",
        "tab": "03c21791da2be028",
        "order": 2,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c8acf7cda5da796b",
        "type": "ui_group",
        "name": "Historico Datos Ambientales",
        "tab": "6f50a512f7d48325",
        "order": 2,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "df218f1f00ab330b",
        "type": "ui_group",
        "name": "Configuracion",
        "tab": "d7783127800a22b3",
        "order": 2,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "69edcff78d16b09b",
        "type": "ui_group",
        "name": "Historico Datos Flujo",
        "tab": "6f50a512f7d48325",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "99f4faf2b9525795",
        "type": "ui_group",
        "name": "Historico Datos Agua",
        "tab": "6f50a512f7d48325",
        "order": 3,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d7783127800a22b3",
        "type": "ui_tab",
        "name": "Inicio/Configuracion",
        "icon": "settings",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "03c21791da2be028",
        "type": "ui_tab",
        "name": "Informacion",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6f50a512f7d48325",
        "type": "ui_tab",
        "name": "Graficos/Historico",
        "icon": "multiline_chart",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "945de127b1be480f",
        "type": "telegram bot",
        "botname": "@AcuaponicDuinobot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "46f6c71b25df15a9",
        "type": "mqtt out",
        "z": "1df6ab3836eddb6b",
        "g": "2cb2893e266fd686",
        "name": "",
        "topic": "AcuaponicDuino/Commands",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "82f3e57dca10e579",
        "x": 380,
        "y": 160,
        "wires": []
    },
    {
        "id": "1867da61541640a9",
        "type": "ui_button",
        "z": "1df6ab3836eddb6b",
        "g": "2cb2893e266fd686",
        "name": "",
        "group": "82b2c8531639be70",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "STOP",
        "tooltip": "Paro del sistema",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "stop",
        "payload": "STOP",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "46f6c71b25df15a9",
                "f3d21dd97fd130d4"
            ]
        ]
    },
    {
        "id": "d80d4b8df7530adb",
        "type": "mqtt in",
        "z": "1df6ab3836eddb6b",
        "g": "cc510e88d578dfae",
        "name": "",
        "topic": "AcuaponicDuino/Ambiente/Humedad",
        "qos": "2",
        "datatype": "auto",
        "broker": "82f3e57dca10e579",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 900,
        "wires": [
            [
                "e80edbdf3c9c6ea7",
                "c36dd0016efde294",
                "c0dc3da8b3ed3e75",
                "9938eadda7404498"
            ]
        ]
    },
    {
        "id": "6c2af9e983741380",
        "type": "mqtt in",
        "z": "1df6ab3836eddb6b",
        "g": "cc510e88d578dfae",
        "name": "",
        "topic": "AcuaponicDuino/Ambiente/Temperatura",
        "qos": "2",
        "datatype": "auto",
        "broker": "82f3e57dca10e579",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 760,
        "wires": [
            [
                "3e28cc0887233bf3",
                "ab64e58b700a9af4",
                "68cb149b4d5d5a68",
                "f4f7c9b002dfcb4d"
            ]
        ]
    },
    {
        "id": "1ec7c8c3c5bf3b81",
        "type": "mqtt in",
        "z": "1df6ab3836eddb6b",
        "g": "cc510e88d578dfae",
        "name": "",
        "topic": "AcuaponicDuino/Ambiente/Luz",
        "qos": "2",
        "datatype": "auto",
        "broker": "82f3e57dca10e579",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 1040,
        "wires": [
            [
                "57e340f951ee217e",
                "0ce0d132e710cd5a",
                "1a0a691643b13acd",
                "c848a40e0c8ef53f"
            ]
        ]
    },
    {
        "id": "4a26dabdda5fbef4",
        "type": "mqtt in",
        "z": "1df6ab3836eddb6b",
        "g": "fbc401e54ff1da47",
        "name": "",
        "topic": "AcuaponicDuino/Flujo/Entrada",
        "qos": "2",
        "datatype": "auto",
        "broker": "82f3e57dca10e579",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1740,
        "y": 760,
        "wires": [
            [
                "d2dbc3e652684ac1",
                "7b8ca2371415b205",
                "df270113ec8d5331",
                "3dacea2e747f9386"
            ]
        ]
    },
    {
        "id": "3e28cc0887233bf3",
        "type": "ui_gauge",
        "z": "1df6ab3836eddb6b",
        "g": "cc510e88d578dfae",
        "name": "",
        "group": "14fd4d66ec7154e7",
        "order": 1,
        "width": "6",
        "height": "6",
        "gtype": "donut",
        "title": "Temperatura Ambiente",
        "label": "º C",
        "format": "{{value}}",
        "min": "-10",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 740,
        "y": 800,
        "wires": []
    },
    {
        "id": "e80edbdf3c9c6ea7",
        "type": "ui_gauge",
        "z": "1df6ab3836eddb6b",
        "g": "cc510e88d578dfae",
        "name": "",
        "group": "14fd4d66ec7154e7",
        "order": 2,
        "width": "6",
        "height": "6",
        "gtype": "donut",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#f0f406",
            "#7ee600",
            "#5c66f0"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 700,
        "y": 940,
        "wires": []
    },
    {
        "id": "57e340f951ee217e",
        "type": "ui_gauge",
        "z": "1df6ab3836eddb6b",
        "g": "cc510e88d578dfae",
        "name": "",
        "group": "14fd4d66ec7154e7",
        "order": 3,
        "width": "6",
        "height": "6",
        "gtype": "donut",
        "title": "Luz Ambiental",
        "label": "lux",
        "format": "{{value}}",
        "min": "1",
        "max": "6000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 720,
        "y": 1080,
        "wires": []
    },
    {
        "id": "d2dbc3e652684ac1",
        "type": "ui_gauge",
        "z": "1df6ab3836eddb6b",
        "g": "fbc401e54ff1da47",
        "name": "",
        "group": "0b47fee8582f65da",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Caudalimetro de Entrada",
        "label": "l/m",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 2210,
        "y": 840,
        "wires": []
    },
    {
        "id": "60f92c1f84f22bd0",
        "type": "ui_gauge",
        "z": "1df6ab3836eddb6b",
        "g": "fbc401e54ff1da47",
        "name": "",
        "group": "0b47fee8582f65da",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Caudalimetro de salida",
        "label": "l/m",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 2020,
        "y": 1000,
        "wires": []
    },
    {
        "id": "4ba3f1aefa9d59eb",
        "type": "mqtt in",
        "z": "1df6ab3836eddb6b",
        "g": "fbc401e54ff1da47",
        "name": "",
        "topic": "AcuaponicDuino/Flujo/Salida",
        "qos": "2",
        "datatype": "auto",
        "broker": "82f3e57dca10e579",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1740,
        "y": 1000,
        "wires": [
            [
                "60f92c1f84f22bd0",
                "970c90476ca04763",
                "3e5aecd7a827bf01"
            ]
        ]
    },
    {
        "id": "ab64e58b700a9af4",
        "type": "ui_chart",
        "z": "1df6ab3836eddb6b",
        "g": "cc510e88d578dfae",
        "name": "",
        "group": "c8acf7cda5da796b",
        "order": 2,
        "width": "8",
        "height": "6",
        "label": "Temperatura Ambiente",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "-10",
        "ymax": "50",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#728897",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "c36dd0016efde294",
        "type": "ui_chart",
        "z": "1df6ab3836eddb6b",
        "g": "cc510e88d578dfae",
        "name": "",
        "group": "c8acf7cda5da796b",
        "order": 2,
        "width": "8",
        "height": "6",
        "label": "Humedad",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 700,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "0ce0d132e710cd5a",
        "type": "ui_chart",
        "z": "1df6ab3836eddb6b",
        "g": "cc510e88d578dfae",
        "name": "",
        "group": "c8acf7cda5da796b",
        "order": 2,
        "width": "8",
        "height": "6",
        "label": "Luz Ambiental",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "1",
        "ymax": "6000",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#e19c3d",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 720,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "00fe8648257e93b0",
        "type": "ui_text",
        "z": "1df6ab3836eddb6b",
        "g": "cc510e88d578dfae",
        "group": "14fd4d66ec7154e7",
        "order": 4,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Ultima medición",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 720,
        "y": 760,
        "wires": []
    },
    {
        "id": "68cb149b4d5d5a68",
        "type": "function",
        "z": "1df6ab3836eddb6b",
        "g": "cc510e88d578dfae",
        "name": "ambienteTemp",
        "func": "msg.payload= new Date().toLocaleString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 760,
        "wires": [
            [
                "00fe8648257e93b0"
            ]
        ]
    },
    {
        "id": "1a0a691643b13acd",
        "type": "function",
        "z": "1df6ab3836eddb6b",
        "g": "cc510e88d578dfae",
        "name": "ambienteLuz",
        "func": "msg.payload= new Date().toLocaleString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1040,
        "wires": [
            [
                "62aa9154de281d2c"
            ]
        ]
    },
    {
        "id": "48fe21a6253570e8",
        "type": "ui_text",
        "z": "1df6ab3836eddb6b",
        "g": "cc510e88d578dfae",
        "group": "14fd4d66ec7154e7",
        "order": 6,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Ultima medición",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 720,
        "y": 900,
        "wires": []
    },
    {
        "id": "c0dc3da8b3ed3e75",
        "type": "function",
        "z": "1df6ab3836eddb6b",
        "g": "cc510e88d578dfae",
        "name": "ambienteHum",
        "func": "msg.payload= new Date().toLocaleString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 900,
        "wires": [
            [
                "48fe21a6253570e8"
            ]
        ]
    },
    {
        "id": "068e161ce75c50cf",
        "type": "comment",
        "z": "1df6ab3836eddb6b",
        "name": "APARTADO DE CONTROL Y CONFIGURACION",
        "info": "# **APARTADO DE CONTROL Y CONFIGURACION**",
        "x": 240,
        "y": 40,
        "wires": []
    },
    {
        "id": "f3d21dd97fd130d4",
        "type": "function",
        "z": "1df6ab3836eddb6b",
        "g": "2cb2893e266fd686",
        "name": "Reset Data",
        "func": "var data = msg.payload;\nif (data == \"<STOP>\")\n{\n    data = \"\";\n    \n}\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 240,
        "wires": [
            [
                "00fe8648257e93b0",
                "3e28cc0887233bf3",
                "48fe21a6253570e8",
                "e80edbdf3c9c6ea7",
                "57e340f951ee217e",
                "d2dbc3e652684ac1",
                "60f92c1f84f22bd0",
                "62aa9154de281d2c",
                "3f5394818047cd2c",
                "29eb564e29a1fa2b",
                "75526cc73009cd66",
                "5008c775c1185443",
                "9f5b464ce2a4db5b",
                "5305b17303bd6a1c",
                "4ccd93cc94edcd6f"
            ]
        ]
    },
    {
        "id": "16cef660889d4949",
        "type": "comment",
        "z": "1df6ab3836eddb6b",
        "name": "INFORMACION Y GRAFICOS",
        "info": "",
        "x": 160,
        "y": 620,
        "wires": []
    },
    {
        "id": "e37fac8fdfbbbea3",
        "type": "comment",
        "z": "1df6ab3836eddb6b",
        "g": "cc510e88d578dfae",
        "name": "AMBIENTE",
        "info": "Se reciben los datos por MQTT y se muestran por un gauje ademas de enviarse al chart",
        "x": 130,
        "y": 700,
        "wires": []
    },
    {
        "id": "a2013c10a690a1af",
        "type": "comment",
        "z": "1df6ab3836eddb6b",
        "g": "fbc401e54ff1da47",
        "name": "FLUJO",
        "info": "Se toman los datos de flujo de MQTT y se envian a nodos gauje y chart",
        "x": 1670,
        "y": 700,
        "wires": []
    },
    {
        "id": "dac32623abbee6ce",
        "type": "mqtt in",
        "z": "1df6ab3836eddb6b",
        "g": "5e7483b35a34fd58",
        "name": "",
        "topic": "AcuaponicDuino/Start/Flujo",
        "qos": "2",
        "datatype": "auto",
        "broker": "82f3e57dca10e579",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 890,
        "y": 180,
        "wires": [
            [
                "9aee486135b2055b"
            ]
        ]
    },
    {
        "id": "abb635d1bb694f4a",
        "type": "mqtt in",
        "z": "1df6ab3836eddb6b",
        "g": "5e7483b35a34fd58",
        "name": "",
        "topic": "AcuaponicDuino/Start/Ambiental",
        "qos": "2",
        "datatype": "auto",
        "broker": "82f3e57dca10e579",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 910,
        "y": 220,
        "wires": [
            [
                "20078f70721d0545"
            ]
        ]
    },
    {
        "id": "11107f5d4cb849fe",
        "type": "mqtt in",
        "z": "1df6ab3836eddb6b",
        "g": "5e7483b35a34fd58",
        "name": "",
        "topic": "AcuaponicDuino/Start/Agua",
        "qos": "2",
        "datatype": "auto",
        "broker": "82f3e57dca10e579",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 900,
        "y": 260,
        "wires": [
            [
                "53bff137e9cde7ef"
            ]
        ]
    },
    {
        "id": "1374c0027e5f910b",
        "type": "mqtt in",
        "z": "1df6ab3836eddb6b",
        "g": "5e7483b35a34fd58",
        "name": "",
        "topic": "AcuaponicDuino/Start/TempAgua",
        "qos": "2",
        "datatype": "auto",
        "broker": "82f3e57dca10e579",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 910,
        "y": 300,
        "wires": [
            [
                "41b483829f4fdc14"
            ]
        ]
    },
    {
        "id": "68abc56bd77fd875",
        "type": "ui_form",
        "z": "1df6ab3836eddb6b",
        "g": "5e7483b35a34fd58",
        "name": "",
        "label": "Nuevas Cadencias",
        "group": "df218f1f00ab330b",
        "order": 3,
        "width": "7",
        "height": 6,
        "options": [
            {
                "label": "Parametros Agua",
                "value": "agua",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Temperatura Agua",
                "value": "temperatura",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Flujo",
                "value": "flujo",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Parametros Ambientales",
                "value": "ambiente",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Temperatura Maxima",
                "value": "tempMax",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Temperatura Minima",
                "value": "tempMin",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "agua": "",
            "temperatura": "",
            "flujo": "",
            "ambiente": "",
            "tempMax": "",
            "tempMin": ""
        },
        "payload": "",
        "submit": "Enviar",
        "cancel": "Cancelar",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 1650,
        "y": 280,
        "wires": [
            [
                "aefee4fe5964e872"
            ]
        ]
    },
    {
        "id": "fb5ff3a5441cefd1",
        "type": "ui_template",
        "z": "1df6ab3836eddb6b",
        "g": "5e7483b35a34fd58",
        "group": "df218f1f00ab330b",
        "name": "Configuracion",
        "order": 2,
        "width": "7",
        "height": "8",
        "format": "<style>\nth, td {\n  border: 0px solid black;\n  align: left;\n  font-size : large;\n  font-weight: 500px;\n  padding :0 6px;\n}\nth {\n    padding : 15px;\n}\ntd {\n    padding : 10px; \n}\ntable {\n  border-spacing: 20;\n}\nem { color: red; }\n</style>\n<table id=\"table\" border=\"0\" border-spacing: 30px>\n    <tr>\n        <th>Configuración Actual</th> \n    </tr>\n    <tbody>\n        <tr>\n            <td>Parámetros de Agua: <span style= \"font-weight:bold; color:#000078;\">{{msg.payload.agua}} horas</span> </td>\n        </tr>\n        <tr>\n            <td>Temperatura Agua: <span style=\"font-weight:bold; color:#000078;\">{{msg.payload.temperatura}} minutos</span> </td>\n        </tr>\n        <tr>\n            <td>Flujo: <span style=\"font-weight:bold; color:#000078;\">{{msg.payload.flujo}} segundos</span></td>\n        </tr>\n        <tr>\n            <td>Parámetros Ambientales: <span style=\"font-weight:bold;color:#000078;\">{{msg.payload.ambiente}} minutos</span> </td>\n        </tr>\n        <tr>\n            <td>Temperatura Máxima: <span style=\"font-weight:bold;color:#000078;\">{{msg.payload.tempMax}} °C</span> </td>\n        </tr>\n        <tr>\n            <td>Temeperatura Mínima: <span style=\"font-weight:bold;color:#000078;\">{{msg.payload.tempMin}} °C</span> </td>\n        </tr>\n    </tbody>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1360,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "b7c2fb364be1f713",
        "type": "join",
        "z": "1df6ab3836eddb6b",
        "g": "5e7483b35a34fd58",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "6",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1290,
        "y": 280,
        "wires": [
            [
                "4f50e72109cf4e6e"
            ]
        ]
    },
    {
        "id": "aefee4fe5964e872",
        "type": "function",
        "z": "1df6ab3836eddb6b",
        "g": "5e7483b35a34fd58",
        "name": "",
        "func": "if ((msg.payload.flujo <= 0)\n||(msg.payload.agua <= 0)\n||(msg.payload.ambiente <=0)\n||(msg.payload.temperatura <=0)\n||(msg.payload.tempMax <=0)\n||(msg.payload.tempMin <=0)\n)\n{\n    msg.payload = \"No se admiten valores negativos o nulos\";\n    return [msg,null];\n    \n}\nelse if(msg.payload.tempMin >= msg.payload.tempMax){\n    msg.payload = \"Comprobar valores de temperatura\";\n    return [msg,null];\n}\nelse \n{\n    msg.payload.flujo=msg.payload.flujo  * 1000;\n    msg.payload.agua=Number(msg.payload.agua) * 60 * 60 * 1000;\n    msg.payload.ambiente=Number(msg.payload.ambiente) * 60  * 1000;\n    msg.payload.temperatura=Number(msg.payload.temperatura) * 60  * 1000;\n    return [null, msg];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1840,
        "y": 280,
        "wires": [
            [
                "9b42f68e30611b69"
            ],
            [
                "ae584f335b73bad4"
            ]
        ]
    },
    {
        "id": "9aee486135b2055b",
        "type": "function",
        "z": "1df6ab3836eddb6b",
        "g": "5e7483b35a34fd58",
        "name": "",
        "func": "msg.topic= \"flujo\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 180,
        "wires": [
            [
                "b7c2fb364be1f713"
            ]
        ]
    },
    {
        "id": "41b483829f4fdc14",
        "type": "function",
        "z": "1df6ab3836eddb6b",
        "g": "5e7483b35a34fd58",
        "name": "",
        "func": "msg.topic= \"temperatura\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 300,
        "wires": [
            [
                "b7c2fb364be1f713"
            ]
        ]
    },
    {
        "id": "53bff137e9cde7ef",
        "type": "function",
        "z": "1df6ab3836eddb6b",
        "g": "5e7483b35a34fd58",
        "name": "",
        "func": "msg.topic= \"agua\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 260,
        "wires": [
            [
                "b7c2fb364be1f713"
            ]
        ]
    },
    {
        "id": "20078f70721d0545",
        "type": "function",
        "z": "1df6ab3836eddb6b",
        "g": "5e7483b35a34fd58",
        "name": "",
        "func": "msg.topic= \"ambiente\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 220,
        "wires": [
            [
                "b7c2fb364be1f713"
            ]
        ]
    },
    {
        "id": "9b42f68e30611b69",
        "type": "ui_toast",
        "z": "1df6ab3836eddb6b",
        "g": "5e7483b35a34fd58",
        "position": "top left",
        "displayTime": "3",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 2050,
        "y": 220,
        "wires": []
    },
    {
        "id": "ae584f335b73bad4",
        "type": "split",
        "z": "1df6ab3836eddb6b",
        "g": "5e7483b35a34fd58",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 1990,
        "y": 280,
        "wires": [
            [
                "dcb54cef964449aa"
            ]
        ]
    },
    {
        "id": "dcb54cef964449aa",
        "type": "switch",
        "z": "1df6ab3836eddb6b",
        "g": "5e7483b35a34fd58",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ambiente",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "agua",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "flujo",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "temperatura",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "tempMax",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "tempMin",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 1590,
        "y": 380,
        "wires": [
            [
                "8dc091551e8e9632"
            ],
            [
                "0359e64dbf7cdb04"
            ],
            [
                "938fe02544c3597d"
            ],
            [
                "058d5b68c1400551"
            ],
            [
                "3883fb2875947cda"
            ],
            [
                "3b530d76949ed104"
            ]
        ]
    },
    {
        "id": "8dc091551e8e9632",
        "type": "mqtt out",
        "z": "1df6ab3836eddb6b",
        "g": "5e7483b35a34fd58",
        "name": "",
        "topic": "AcuaponicDuino/Config/Ambiente",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "82f3e57dca10e579",
        "x": 1880,
        "y": 400,
        "wires": []
    },
    {
        "id": "058d5b68c1400551",
        "type": "mqtt out",
        "z": "1df6ab3836eddb6b",
        "g": "5e7483b35a34fd58",
        "name": "",
        "topic": "AcuaponicDuino/Config/Temperatura",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "82f3e57dca10e579",
        "x": 1890,
        "y": 520,
        "wires": []
    },
    {
        "id": "938fe02544c3597d",
        "type": "mqtt out",
        "z": "1df6ab3836eddb6b",
        "g": "5e7483b35a34fd58",
        "name": "",
        "topic": "AcuaponicDuino/Config/Flujo",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "82f3e57dca10e579",
        "x": 1860,
        "y": 480,
        "wires": []
    },
    {
        "id": "0359e64dbf7cdb04",
        "type": "mqtt out",
        "z": "1df6ab3836eddb6b",
        "g": "5e7483b35a34fd58",
        "name": "",
        "topic": "AcuaponicDuino/Config/Agua",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "82f3e57dca10e579",
        "x": 1860,
        "y": 440,
        "wires": []
    },
    {
        "id": "01cd2eb788238b0f",
        "type": "mqtt in",
        "z": "1df6ab3836eddb6b",
        "g": "2cb2893e266fd686",
        "name": "",
        "topic": "AcuaponicDuino/Config/Stop",
        "qos": "2",
        "datatype": "auto",
        "broker": "82f3e57dca10e579",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 240,
        "wires": [
            [
                "f3d21dd97fd130d4"
            ]
        ]
    },
    {
        "id": "08fca99591145b66",
        "type": "ui_chart",
        "z": "1df6ab3836eddb6b",
        "g": "fbc401e54ff1da47",
        "name": "",
        "group": "69edcff78d16b09b",
        "order": 0,
        "width": "24",
        "height": "8",
        "label": "Grafico Flujo de Agua",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "6",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff7f0e",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2300,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "62aa9154de281d2c",
        "type": "ui_text",
        "z": "1df6ab3836eddb6b",
        "g": "cc510e88d578dfae",
        "group": "14fd4d66ec7154e7",
        "order": 5,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Ultima medición",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 720,
        "y": 1040,
        "wires": []
    },
    {
        "id": "3dacea2e747f9386",
        "type": "function",
        "z": "1df6ab3836eddb6b",
        "g": "fbc401e54ff1da47",
        "name": "",
        "func": "var count = context.get('count')||0;\nif (msg.payload==\"0.00\")\n{\n    count += 1;\n    context.set('count',count);\n\n}\nif (count == 5)\n{\n    msg.payload= \"Fallo Bomba\";\n    context.set('count',0); \n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1980,
        "y": 760,
        "wires": [
            [
                "b33f81a1b54926e8"
            ]
        ]
    },
    {
        "id": "b33f81a1b54926e8",
        "type": "ui_toast",
        "z": "1df6ab3836eddb6b",
        "g": "fbc401e54ff1da47",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 2190,
        "y": 760,
        "wires": []
    },
    {
        "id": "3e5aecd7a827bf01",
        "type": "function",
        "z": "1df6ab3836eddb6b",
        "g": "fbc401e54ff1da47",
        "name": "",
        "func": "var count = context.get('count')||0;\nif (msg.payload==\"0.00\")\n{\n    count += 1;\n    // store the value back\n    context.set('count',count);\n}\nif (count == 3)\n{\n    msg.payload= \"Salida Obstruida\";\n    context.set('count',0);   \n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2000,
        "y": 1060,
        "wires": [
            [
                "10543cc728bfd640"
            ]
        ]
    },
    {
        "id": "10543cc728bfd640",
        "type": "ui_toast",
        "z": "1df6ab3836eddb6b",
        "g": "fbc401e54ff1da47",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 2190,
        "y": 1060,
        "wires": []
    },
    {
        "id": "3f5394818047cd2c",
        "type": "ui_template",
        "z": "1df6ab3836eddb6b",
        "g": "fbc401e54ff1da47",
        "group": "0b47fee8582f65da",
        "name": "",
        "order": 4,
        "width": "6",
        "height": "6",
        "format": "<div layout=\"row\" layout-align=\"start center\">\n  <span flex style=\"font-size: 18px\"><b>Estado de la bomba:</b></span>\n  <span flex style=\"font-size: 15px; color: green\"><b>{{msg.payload}}</b></span>\n </div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 2160,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "df270113ec8d5331",
        "type": "function",
        "z": "1df6ab3836eddb6b",
        "g": "fbc401e54ff1da47",
        "name": "",
        "func": "if ((msg.payload) < 1.5)\n{\n    msg.payload= \"Limpiar filtro electroválvula\";\n    msg.topic = \"Estado\";\n}\nif ((msg.payload) > 1.5)\n{\n    msg.payload= \"Correcto\";\n    msg.topic = \"Estado\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1980,
        "y": 800,
        "wires": [
            [
                "3f5394818047cd2c"
            ]
        ]
    },
    {
        "id": "94f3f2b77488bc98",
        "type": "ui_button",
        "z": "1df6ab3836eddb6b",
        "g": "2cb2893e266fd686",
        "name": "",
        "group": "82b2c8531639be70",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "START",
        "tooltip": "Arranque del sistema",
        "color": "",
        "bgcolor": "rgb(0,0,120)",
        "className": "",
        "icon": "play_arrow",
        "payload": "START",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "46f6c71b25df15a9"
            ]
        ]
    },
    {
        "id": "7b8ca2371415b205",
        "type": "change",
        "z": "1df6ab3836eddb6b",
        "g": "fbc401e54ff1da47",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Entrada",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2010,
        "y": 880,
        "wires": [
            [
                "08fca99591145b66"
            ]
        ]
    },
    {
        "id": "970c90476ca04763",
        "type": "change",
        "z": "1df6ab3836eddb6b",
        "g": "fbc401e54ff1da47",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Salida",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2010,
        "y": 920,
        "wires": [
            [
                "08fca99591145b66"
            ]
        ]
    },
    {
        "id": "563385a468f03ddd",
        "type": "mqtt in",
        "z": "1df6ab3836eddb6b",
        "g": "e05ef543203069eb",
        "name": "",
        "topic": "AcuaponicDuino/Agua/Temperatura",
        "qos": "2",
        "datatype": "auto",
        "broker": "82f3e57dca10e579",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1060,
        "y": 1100,
        "wires": [
            [
                "5305b17303bd6a1c",
                "f60f140c5d6ffa50",
                "c0fd8366cce07c1f",
                "de42e0195031feb2"
            ]
        ]
    },
    {
        "id": "028b1828a73809ac",
        "type": "mqtt in",
        "z": "1df6ab3836eddb6b",
        "g": "e05ef543203069eb",
        "name": "",
        "topic": "AcuaponicDuino/Agua/pH",
        "qos": "2",
        "datatype": "auto",
        "broker": "82f3e57dca10e579",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1030,
        "y": 760,
        "wires": [
            [
                "29eb564e29a1fa2b",
                "3989ae2516d8267d",
                "647b250e2e007a90",
                "dc8cd3d760e43915"
            ]
        ]
    },
    {
        "id": "5448555cdf0c8f9b",
        "type": "mqtt in",
        "z": "1df6ab3836eddb6b",
        "g": "e05ef543203069eb",
        "name": "",
        "topic": "AcuaponicDuino/Agua/TDS",
        "qos": "2",
        "datatype": "auto",
        "broker": "82f3e57dca10e579",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1030,
        "y": 940,
        "wires": [
            [
                "5008c775c1185443",
                "e93bf4f2c59bb5c9",
                "bd8b46f375cb041f",
                "0d63f8812b7c356d"
            ]
        ]
    },
    {
        "id": "5305b17303bd6a1c",
        "type": "ui_gauge",
        "z": "1df6ab3836eddb6b",
        "g": "e05ef543203069eb",
        "name": "",
        "group": "81f058ee7705faa2",
        "order": 3,
        "width": "6",
        "height": "6",
        "gtype": "donut",
        "title": "Temperatura del agua",
        "label": "º C",
        "format": "{{value}}",
        "min": "15",
        "max": "30",
        "colors": [
            "#5348f4",
            "#fbfb09",
            "#ff0505"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1320,
        "y": 1140,
        "wires": []
    },
    {
        "id": "5008c775c1185443",
        "type": "ui_gauge",
        "z": "1df6ab3836eddb6b",
        "g": "e05ef543203069eb",
        "name": "",
        "group": "81f058ee7705faa2",
        "order": 2,
        "width": "6",
        "height": "6",
        "gtype": "donut",
        "title": "Solidos Disueltos",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "1250",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1310,
        "y": 980,
        "wires": []
    },
    {
        "id": "29eb564e29a1fa2b",
        "type": "ui_gauge",
        "z": "1df6ab3836eddb6b",
        "g": "e05ef543203069eb",
        "name": "",
        "group": "81f058ee7705faa2",
        "order": 1,
        "width": "6",
        "height": "6",
        "gtype": "donut",
        "title": "Acidez del agua",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "14",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1300,
        "y": 800,
        "wires": []
    },
    {
        "id": "75526cc73009cd66",
        "type": "ui_text",
        "z": "1df6ab3836eddb6b",
        "g": "e05ef543203069eb",
        "group": "81f058ee7705faa2",
        "order": 4,
        "width": "6",
        "height": "1",
        "name": "aguaPH",
        "label": "Ultima medición",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1460,
        "y": 760,
        "wires": []
    },
    {
        "id": "3989ae2516d8267d",
        "type": "function",
        "z": "1df6ab3836eddb6b",
        "g": "e05ef543203069eb",
        "name": "aguaPH",
        "func": "msg.payload= new Date().toLocaleString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 760,
        "wires": [
            [
                "75526cc73009cd66"
            ]
        ]
    },
    {
        "id": "4ccd93cc94edcd6f",
        "type": "ui_text",
        "z": "1df6ab3836eddb6b",
        "g": "e05ef543203069eb",
        "group": "81f058ee7705faa2",
        "order": 6,
        "width": "6",
        "height": "1",
        "name": "aguaTemp",
        "label": "Ultima medición",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1470,
        "y": 1100,
        "wires": []
    },
    {
        "id": "f60f140c5d6ffa50",
        "type": "function",
        "z": "1df6ab3836eddb6b",
        "g": "e05ef543203069eb",
        "name": "aguaTemp",
        "func": "msg.payload= new Date().toLocaleString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 1100,
        "wires": [
            [
                "4ccd93cc94edcd6f"
            ]
        ]
    },
    {
        "id": "9f5b464ce2a4db5b",
        "type": "ui_text",
        "z": "1df6ab3836eddb6b",
        "g": "e05ef543203069eb",
        "group": "81f058ee7705faa2",
        "order": 5,
        "width": "6",
        "height": "1",
        "name": "aguaTDS",
        "label": "Ultima medición",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1460,
        "y": 940,
        "wires": []
    },
    {
        "id": "e93bf4f2c59bb5c9",
        "type": "function",
        "z": "1df6ab3836eddb6b",
        "g": "e05ef543203069eb",
        "name": "aguaTDS",
        "func": "msg.payload= new Date().toLocaleString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 940,
        "wires": [
            [
                "9f5b464ce2a4db5b"
            ]
        ]
    },
    {
        "id": "1346f8f1d6f4646f",
        "type": "comment",
        "z": "1df6ab3836eddb6b",
        "g": "e05ef543203069eb",
        "name": "AGUA",
        "info": "Se receiben los datos por MQTT y se muestran en gauje y chart, se les añade la fecha de la llegada de los datos",
        "x": 970,
        "y": 700,
        "wires": []
    },
    {
        "id": "647b250e2e007a90",
        "type": "ui_chart",
        "z": "1df6ab3836eddb6b",
        "g": "e05ef543203069eb",
        "name": "",
        "group": "99f4faf2b9525795",
        "order": 1,
        "width": "8",
        "height": "6",
        "label": "pH",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "14",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca02c",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1270,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "bd8b46f375cb041f",
        "type": "ui_chart",
        "z": "1df6ab3836eddb6b",
        "g": "e05ef543203069eb",
        "name": "",
        "group": "99f4faf2b9525795",
        "order": 2,
        "width": "8",
        "height": "6",
        "label": "Solidos Disueltos (TDS)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "1200",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#b33c1e",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1330,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "c0fd8366cce07c1f",
        "type": "ui_chart",
        "z": "1df6ab3836eddb6b",
        "g": "e05ef543203069eb",
        "name": "",
        "group": "99f4faf2b9525795",
        "order": 3,
        "width": "8",
        "height": "6",
        "label": "Tempratura del agua",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "20",
        "ymax": "28",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1320,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "46a0364ea069b48e",
        "type": "ui_button",
        "z": "1df6ab3836eddb6b",
        "g": "2cb2893e266fd686",
        "name": "",
        "group": "df218f1f00ab330b",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Borrar Datos Historicos",
        "tooltip": "Borra los datos del historico",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "refresh",
        "payload": "¿Desea borrar el historico de datos?",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 340,
        "wires": [
            [
                "40a10c2d2b1791d9"
            ]
        ]
    },
    {
        "id": "40a10c2d2b1791d9",
        "type": "ui_toast",
        "z": "1df6ab3836eddb6b",
        "g": "2cb2893e266fd686",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 430,
        "y": 340,
        "wires": [
            [
                "16a9e7689baa796a"
            ]
        ]
    },
    {
        "id": "16a9e7689baa796a",
        "type": "function",
        "z": "1df6ab3836eddb6b",
        "g": "2cb2893e266fd686",
        "name": "",
        "func": "if (msg.payload==\"OK\"){\n    msg.payload= [];\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 340,
        "wires": [
            [
                "08fca99591145b66",
                "ab64e58b700a9af4",
                "c36dd0016efde294",
                "0ce0d132e710cd5a",
                "647b250e2e007a90",
                "bd8b46f375cb041f",
                "c0fd8366cce07c1f"
            ]
        ]
    },
    {
        "id": "4f50e72109cf4e6e",
        "type": "function",
        "z": "1df6ab3836eddb6b",
        "g": "5e7483b35a34fd58",
        "name": "",
        "func": "msg.payload.flujo = (Number(msg.payload.flujo) / 1000).toFixed(2);\nmsg.payload.agua = (((Number(msg.payload.agua) / 1000)/60)/60).toFixed(2);\nmsg.payload.temperatura = ((Number(msg.payload.temperatura) / 1000)/60).toFixed(2);\nmsg.payload.ambiente = ((Number(msg.payload.ambiente) / 1000)/60).toFixed(2);\nmsg.payload.tempMax = Number(msg.payload.tempMax);\nmsg.payload.tempMin = Number(msg.payload.tempMin);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 280,
        "wires": [
            [
                "fb5ff3a5441cefd1",
                "68abc56bd77fd875"
            ]
        ]
    },
    {
        "id": "8702934db156695a",
        "type": "mqtt in",
        "z": "1df6ab3836eddb6b",
        "g": "5e7483b35a34fd58",
        "name": "",
        "topic": "AcuaponicDuino/Start/tempMax",
        "qos": "2",
        "datatype": "auto",
        "broker": "82f3e57dca10e579",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 910,
        "y": 340,
        "wires": [
            [
                "65a339bb10627824"
            ]
        ]
    },
    {
        "id": "13bdf52601fb3ea4",
        "type": "mqtt in",
        "z": "1df6ab3836eddb6b",
        "g": "5e7483b35a34fd58",
        "name": "",
        "topic": "AcuaponicDuino/Start/tempMin",
        "qos": "2",
        "datatype": "auto",
        "broker": "82f3e57dca10e579",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 910,
        "y": 380,
        "wires": [
            [
                "c7865c4291b2e2d8"
            ]
        ]
    },
    {
        "id": "65a339bb10627824",
        "type": "function",
        "z": "1df6ab3836eddb6b",
        "g": "5e7483b35a34fd58",
        "name": "",
        "func": "msg.topic= \"tempMax\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 340,
        "wires": [
            [
                "b7c2fb364be1f713"
            ]
        ]
    },
    {
        "id": "c7865c4291b2e2d8",
        "type": "function",
        "z": "1df6ab3836eddb6b",
        "g": "5e7483b35a34fd58",
        "name": "",
        "func": "msg.topic= \"tempMin\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 380,
        "wires": [
            [
                "b7c2fb364be1f713"
            ]
        ]
    },
    {
        "id": "3883fb2875947cda",
        "type": "mqtt out",
        "z": "1df6ab3836eddb6b",
        "g": "5e7483b35a34fd58",
        "name": "",
        "topic": "AcuaponicDuino/Config/tempMax",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "82f3e57dca10e579",
        "x": 1880,
        "y": 560,
        "wires": []
    },
    {
        "id": "3b530d76949ed104",
        "type": "mqtt out",
        "z": "1df6ab3836eddb6b",
        "g": "5e7483b35a34fd58",
        "name": "",
        "topic": "AcuaponicDuino/Config/tempMin",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "82f3e57dca10e579",
        "x": 1880,
        "y": 600,
        "wires": []
    },
    {
        "id": "4c68da0acfd74151",
        "type": "comment",
        "z": "1df6ab3836eddb6b",
        "g": "2cb2893e266fd686",
        "name": "Control y Configuracion",
        "info": "Contiene los nodos start y stop que permiten el arranque del sistema, recibe informacion de parada del boton fisico para resetear los gaujes en caso de paro manda Stop como payload para mostrar info.\n",
        "x": 180,
        "y": 120,
        "wires": []
    },
    {
        "id": "1ce513dd6a967bc3",
        "type": "comment",
        "z": "1df6ab3836eddb6b",
        "g": "2cb2893e266fd686",
        "name": "Reset",
        "info": "Borrado de historico de datos y reset a los chart. Muestra un mensaje de aviso y si es correcto manda un payload vacio.",
        "x": 130,
        "y": 300,
        "wires": []
    },
    {
        "id": "d962428a97b850c5",
        "type": "comment",
        "z": "1df6ab3836eddb6b",
        "g": "5e7483b35a34fd58",
        "name": "Configuracion",
        "info": "Recibe los datos de la placa de control con la configuracion que tenga cargada, con ella construye un payload completo con todos los datos.",
        "x": 850,
        "y": 120,
        "wires": []
    },
    {
        "id": "df8c12dd33082dab",
        "type": "comment",
        "z": "1df6ab3836eddb6b",
        "g": "5e7483b35a34fd58",
        "name": "Join",
        "info": "Unimos la info para mostrarla en el form y en el template",
        "x": 1290,
        "y": 220,
        "wires": []
    },
    {
        "id": "f2026e4d73aaeaa0",
        "type": "comment",
        "z": "1df6ab3836eddb6b",
        "g": "5e7483b35a34fd58",
        "name": "Comprobar datos",
        "info": "Se comprueba que los datos a enviar sean correctos. si no lo son show alert",
        "x": 1840,
        "y": 240,
        "wires": []
    },
    {
        "id": "9264e6d3928ee84c",
        "type": "comment",
        "z": "1df6ab3836eddb6b",
        "g": "5e7483b35a34fd58",
        "name": "Envio",
        "info": "Se vuelven a dividir los datos para cargarlos en la placa de control",
        "x": 1810,
        "y": 340,
        "wires": []
    },
    {
        "id": "8b16ce5138c98bef",
        "type": "comment",
        "z": "1df6ab3836eddb6b",
        "g": "fbc401e54ff1da47",
        "name": "Estado de la bomba",
        "info": "Funciones auxiliares para controlar el estado de la bomba",
        "x": 2010,
        "y": 720,
        "wires": []
    },
    {
        "id": "33206aa484c56a67",
        "type": "comment",
        "z": "1df6ab3836eddb6b",
        "g": "fbc401e54ff1da47",
        "name": "",
        "info": "Template para el estado de la bomba",
        "x": 2320,
        "y": 800,
        "wires": []
    },
    {
        "id": "a2ccdaef316ccee1",
        "type": "function",
        "z": "1df6ab3836eddb6b",
        "g": "5c316cc8d115690d",
        "name": "",
        "func": "var temp =\"La temperatura ambiente es: \" + msg.payload + \" grados centigrados\";\n\nmsg.payload = {\n    \"chatId\": -644559583, \n    \"type\": \"message\",\n    \"content\": temp\n    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1420,
        "wires": [
            [
                "47fa724a8741e822"
            ]
        ]
    },
    {
        "id": "47fa724a8741e822",
        "type": "telegram sender",
        "z": "1df6ab3836eddb6b",
        "g": "5c316cc8d115690d",
        "name": "",
        "bot": "945de127b1be480f",
        "haserroroutput": false,
        "outputs": 1,
        "x": 950,
        "y": 1600,
        "wires": [
            []
        ]
    },
    {
        "id": "b8a31462de3bc3e0",
        "type": "telegram command",
        "z": "1df6ab3836eddb6b",
        "g": "5c316cc8d115690d",
        "name": "",
        "command": "/temperatura@AcuaponicDuinobot",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "945de127b1be480f",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 200,
        "y": 1460,
        "wires": [
            [
                "bf15aeb7bdda19d4"
            ],
            []
        ]
    },
    {
        "id": "49bd9ea65e8bce9f",
        "type": "telegram command",
        "z": "1df6ab3836eddb6b",
        "g": "5c316cc8d115690d",
        "name": "/help@AcuaponicDuinobot",
        "command": "/help@AcuaponicDuinobot",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "945de127b1be480f",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 170,
        "y": 1380,
        "wires": [
            [
                "7ab30b54840c4763"
            ],
            []
        ]
    },
    {
        "id": "7ab30b54840c4763",
        "type": "function",
        "z": "1df6ab3836eddb6b",
        "g": "5c316cc8d115690d",
        "name": "",
        "func": "msg.payload = {\n    \"chatId\": -644559583, \n    \"type\": \"message\",\n    \"content\": \"/temperatura - Muestra la temperatura ambiental\\n/temperatura_agua - Muestra la temperatura del agua\\n/luz - Muestra la luz ambiental\\n/ph - Muestra el ph\\n/tds - Muestra el tds\\n/humedad - Muestra la humedad ambiental\\n/help  - Muestra los comandos disponibles\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1360,
        "wires": [
            [
                "47fa724a8741e822"
            ]
        ]
    },
    {
        "id": "f4f7c9b002dfcb4d",
        "type": "change",
        "z": "1df6ab3836eddb6b",
        "g": "cc510e88d578dfae",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "temp",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "bf15aeb7bdda19d4",
        "type": "change",
        "z": "1df6ab3836eddb6b",
        "g": "5c316cc8d115690d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "temp",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 1420,
        "wires": [
            [
                "a2ccdaef316ccee1"
            ]
        ]
    },
    {
        "id": "9938eadda7404498",
        "type": "change",
        "z": "1df6ab3836eddb6b",
        "g": "cc510e88d578dfae",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "hum",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "c848a40e0c8ef53f",
        "type": "change",
        "z": "1df6ab3836eddb6b",
        "g": "cc510e88d578dfae",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "luz",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "dc8cd3d760e43915",
        "type": "change",
        "z": "1df6ab3836eddb6b",
        "g": "e05ef543203069eb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ph",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "0d63f8812b7c356d",
        "type": "change",
        "z": "1df6ab3836eddb6b",
        "g": "e05ef543203069eb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tds",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "de42e0195031feb2",
        "type": "change",
        "z": "1df6ab3836eddb6b",
        "g": "e05ef543203069eb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tempAgua",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1310,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "5e8c39c4d9ba83f8",
        "type": "telegram command",
        "z": "1df6ab3836eddb6b",
        "g": "5c316cc8d115690d",
        "name": "/help",
        "command": "/help",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "945de127b1be480f",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 110,
        "y": 1340,
        "wires": [
            [
                "7ab30b54840c4763"
            ],
            []
        ]
    },
    {
        "id": "6e333486ebd064a5",
        "type": "telegram command",
        "z": "1df6ab3836eddb6b",
        "g": "5c316cc8d115690d",
        "name": "",
        "command": "/temperatura",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "945de127b1be480f",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 130,
        "y": 1420,
        "wires": [
            [
                "bf15aeb7bdda19d4"
            ],
            []
        ]
    },
    {
        "id": "3ab6dbc263b78d97",
        "type": "telegram command",
        "z": "1df6ab3836eddb6b",
        "g": "5c316cc8d115690d",
        "name": "/humedad@AcuaponicDuinobot",
        "command": "/humedad@AcuaponicDuinobot",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "945de127b1be480f",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 190,
        "y": 1540,
        "wires": [
            [
                "0f24a4c1f60a23d0"
            ],
            []
        ]
    },
    {
        "id": "50bf967926fa914e",
        "type": "telegram command",
        "z": "1df6ab3836eddb6b",
        "g": "5c316cc8d115690d",
        "name": "/humedad",
        "command": "/humedad",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "945de127b1be480f",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 120,
        "y": 1500,
        "wires": [
            [
                "0f24a4c1f60a23d0"
            ],
            []
        ]
    },
    {
        "id": "0f24a4c1f60a23d0",
        "type": "change",
        "z": "1df6ab3836eddb6b",
        "g": "5c316cc8d115690d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "hum",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 1500,
        "wires": [
            [
                "55cbc8816f8983d2"
            ]
        ]
    },
    {
        "id": "55cbc8816f8983d2",
        "type": "function",
        "z": "1df6ab3836eddb6b",
        "g": "5c316cc8d115690d",
        "name": "",
        "func": "var temp =\"La humedad ambiente es: \" + msg.payload + \" %\";\n\nmsg.payload = {\n    \"chatId\": -644559583, \n    \"type\": \"message\",\n    \"content\": temp\n    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1500,
        "wires": [
            [
                "47fa724a8741e822"
            ]
        ]
    },
    {
        "id": "a797524b96bf1f25",
        "type": "telegram command",
        "z": "1df6ab3836eddb6b",
        "g": "5c316cc8d115690d",
        "name": "/luz@AcuaponicDuinobot",
        "command": "/luz@AcuaponicDuinobot",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "945de127b1be480f",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 170,
        "y": 1620,
        "wires": [
            [
                "77a3ab0278c3ac2c"
            ],
            []
        ]
    },
    {
        "id": "2215292d1494e631",
        "type": "telegram command",
        "z": "1df6ab3836eddb6b",
        "g": "5c316cc8d115690d",
        "name": "/luz",
        "command": "/luz",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "945de127b1be480f",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 110,
        "y": 1580,
        "wires": [
            [
                "77a3ab0278c3ac2c"
            ],
            []
        ]
    },
    {
        "id": "77a3ab0278c3ac2c",
        "type": "change",
        "z": "1df6ab3836eddb6b",
        "g": "5c316cc8d115690d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "luz",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 1580,
        "wires": [
            [
                "59e4c3a75bdbb7f3"
            ]
        ]
    },
    {
        "id": "59e4c3a75bdbb7f3",
        "type": "function",
        "z": "1df6ab3836eddb6b",
        "g": "5c316cc8d115690d",
        "name": "",
        "func": "var temp =\"La luz ambiente es: \" + msg.payload + \" lux\";\n\nmsg.payload = {\n    \"chatId\": -644559583, \n    \"type\": \"message\",\n    \"content\": temp\n    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1580,
        "wires": [
            [
                "47fa724a8741e822"
            ]
        ]
    },
    {
        "id": "407f1bf907785e85",
        "type": "telegram command",
        "z": "1df6ab3836eddb6b",
        "g": "5c316cc8d115690d",
        "name": "/ph@AcuaponicDuinobot",
        "command": "/ph@AcuaponicDuinobot",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "945de127b1be480f",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 170,
        "y": 1700,
        "wires": [
            [
                "0a1066ce6e587465"
            ],
            []
        ]
    },
    {
        "id": "09a7c92ef8473e50",
        "type": "telegram command",
        "z": "1df6ab3836eddb6b",
        "g": "5c316cc8d115690d",
        "name": "/ph",
        "command": "/ph",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "945de127b1be480f",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 110,
        "y": 1660,
        "wires": [
            [
                "0a1066ce6e587465"
            ],
            []
        ]
    },
    {
        "id": "0a1066ce6e587465",
        "type": "change",
        "z": "1df6ab3836eddb6b",
        "g": "5c316cc8d115690d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ph",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 1660,
        "wires": [
            [
                "67af06b8a14ec8e8"
            ]
        ]
    },
    {
        "id": "67af06b8a14ec8e8",
        "type": "function",
        "z": "1df6ab3836eddb6b",
        "g": "5c316cc8d115690d",
        "name": "",
        "func": "var temp =\"El ph es: \" + msg.payload;\n\nmsg.payload = {\n    \"chatId\": -644559583, \n    \"type\": \"message\",\n    \"content\": temp\n    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1660,
        "wires": [
            [
                "47fa724a8741e822"
            ]
        ]
    },
    {
        "id": "0d15d08624735b23",
        "type": "telegram command",
        "z": "1df6ab3836eddb6b",
        "g": "5c316cc8d115690d",
        "name": "/tds@AcuaponicDuinobot",
        "command": "/tds@AcuaponicDuinobot",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "945de127b1be480f",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 170,
        "y": 1780,
        "wires": [
            [
                "c2e62d61d0247b15"
            ],
            []
        ]
    },
    {
        "id": "18d480951d9db072",
        "type": "telegram command",
        "z": "1df6ab3836eddb6b",
        "g": "5c316cc8d115690d",
        "name": "/tds",
        "command": "/tds",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "945de127b1be480f",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 110,
        "y": 1740,
        "wires": [
            [
                "c2e62d61d0247b15"
            ],
            []
        ]
    },
    {
        "id": "c2e62d61d0247b15",
        "type": "change",
        "z": "1df6ab3836eddb6b",
        "g": "5c316cc8d115690d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "tds",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 1740,
        "wires": [
            [
                "f25b9785982aa7ce"
            ]
        ]
    },
    {
        "id": "f25b9785982aa7ce",
        "type": "function",
        "z": "1df6ab3836eddb6b",
        "g": "5c316cc8d115690d",
        "name": "",
        "func": "var temp =\"Los solidos disueltos en agua son: \" + msg.payload + \" ppm\";\n\nmsg.payload = {\n    \"chatId\": -644559583, \n    \"type\": \"message\",\n    \"content\": temp\n    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1740,
        "wires": [
            [
                "47fa724a8741e822"
            ]
        ]
    },
    {
        "id": "c43b4728bfb817ab",
        "type": "telegram command",
        "z": "1df6ab3836eddb6b",
        "g": "5c316cc8d115690d",
        "name": "/temperatura_agua@AcuaponicDuinobot",
        "command": "/temperatura_agua@AcuaponicDuinobot",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "945de127b1be480f",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 220,
        "y": 1860,
        "wires": [
            [
                "c4ec84f5b579624a"
            ],
            []
        ]
    },
    {
        "id": "23c2af74855bb688",
        "type": "telegram command",
        "z": "1df6ab3836eddb6b",
        "g": "5c316cc8d115690d",
        "name": "/temperatura_agua",
        "command": "/temperatura_agua",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "945de127b1be480f",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 150,
        "y": 1820,
        "wires": [
            [
                "c4ec84f5b579624a"
            ],
            []
        ]
    },
    {
        "id": "c4ec84f5b579624a",
        "type": "change",
        "z": "1df6ab3836eddb6b",
        "g": "5c316cc8d115690d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "tempAgua",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 1820,
        "wires": [
            [
                "8b2f7001573b1ff3"
            ]
        ]
    },
    {
        "id": "8b2f7001573b1ff3",
        "type": "function",
        "z": "1df6ab3836eddb6b",
        "g": "5c316cc8d115690d",
        "name": "",
        "func": "var temp =\"La temperatura del agua es: \" + msg.payload + \" grados centigrados\";\nmsg.payload = {\n    \"chatId\": -644559583, \n    \"type\": \"message\",\n    \"content\": temp\n    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1820,
        "wires": [
            [
                "47fa724a8741e822"
            ]
        ]
    },
    {
        "id": "1d26ab5bdf251240",
        "type": "comment",
        "z": "1df6ab3836eddb6b",
        "g": "5c316cc8d115690d",
        "name": "Flujos de datos para Telegram",
        "info": "",
        "x": 180,
        "y": 1300,
        "wires": []
    }
]